@model IEnumerable<Item>
@{
    ViewData["Title"] = "";
}
<link rel="stylesheet" href="/css/Card.css" asp-append-version="true" />
<link rel="stylesheet" href="/css/search.css" asp-append-version="true" />
<link rel="stylesheet" href="/css/slider.css" asp-append-version="true" />
<script defer src="/js/text.js"></script>
<script defer src="/js/drop_character.js"></script>
<script defer src="/js/slider.js"></script>
<link rel="stylesheet" href="/css/text.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" asp-append-version="true" />
<div class="typing">
    <p class="text">WELCOME TO THE ASP MVC SHOP</p>
</div>

<h2 style="text-align:center; margin-top:1rem;">New items</h2>
<div style="display: flex;justify-content:center; align-items: center;height:60vh;">
    <div class="img_swiper" >
        <section class="swiper mySwiper">
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {
                    <div class="card_for_swiper swiper-slide">
                        <div class="swiper_image">
                            @if (string.IsNullOrEmpty(item.Image))
                            {
                                <img src="~/img/no image.png" alt="@item.ItemTitle type: @item.TypeName" />
                            }
                            else
                            {
                                <img src="@item.Image" alt="@item.ItemTitle type: @item.TypeName" />
                            }
                        </div>
                        <div class="card_content">
                            <span class="card_title_for_sw">@item.ItemTitle</span>
                            <p>@item.Description</p>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js">
</script>
@section Scripts {
    <script>
        var userNameEl = document.getElementById("username");

        if(userNameEl == null){
            window.location.href="/Identity/Account/Login";
        }
        async function add(itemId){

            function resetClass(){
                cartIcon.classList.remove('anim');
                cartCountEl.classList.remove("change");
            }
            var response = await fetch(`/Cart/AddItem?itemId=${itemId}`);
            try {
                if(response.status == 200){
                var result = await response.json();
                cartIcon = document.getElementById('cart-icon');
                var cartCountEl = document.getElementById("cartCount");
                cartCountEl.innerHTML = result;
                window.location.href="#cartCount";
                cartIcon.classList.add('anim');
                cartCountEl.classList.add("change");
                setTimeout(resetClass,500);
            }
            }
            catch(err){
                console.log(err);
            }
        }

    </script>
}


